# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IPython Notebook checkpoints
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/
ENV/

# macOS
.DS_Store

# vscode
.vscode/
